/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ CSS ************/

img {
	width: 100%;
}

nav.navbar a.navbar-brand {
    width: 8%;
}

.bg {
	background-image: url('./assets/banner-bg.png');
	height: 100vh;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
